<main>

    <div class="management-card">
        <h1><%= title %></h1>
        
        <!-- Flash message display -->
        <%- messages() %>

        <!-- Display server-side validation errors -->
        <% if (errors) { %>
            <ul class="notice">
            <% errors.array().forEach(error => { %>
                <li><%= error.msg %></li>
            <%  }) %>
            </ul>
            <% } %>
        
        <ul>
            <li><a href="/inv/add-classification">Add New Classification</a></li>
            <li><a href="/inv/add-inventory">Add New Inventory</a></li>
        </ul>
        <h2>Manage Inventory</h2>
        <p>Please select a classification from the list to view the items associated with it.</p>
        <select id="classificationList">
            <option value="" disabled selected>Please select</option>
            <% classificationList.forEach(function(classification) { %>
            <option value="<%= classification.id %>"><%= classification.name %></option>
            <% }); %>
        </select>

        <table id="inventoryDisplay"></table>
        <noscript>JavaScript must be enabled to use this page.</noscript>
    </div>

    
        
</main>

<script src="../../js/inventory.js"></script>